*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
}

header{
    height:15%;
}
main{
    height: 85%;
    display: flex;

}

.headerContainer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.personName{
    width: 40%;
}
.personName h1{
    font-size: 36px;
    font-weight: bolder;
}
.personName h1:hover{
    color:crimson;
    font-size: 45px;
    transform:scale(1s);
    transition: 0.7s;  
}
.links{
width: 60%;
}
.links a{
text-decoration: none;
color: white;
font-size: 20px;
margin-right:70px ;
position: relative;
}
.links a:hover{
    color: crimson;
    font-size:23px ;
}

.links a::after{
    content: "";
    position:absolute;
    height: 3px;
    width: 0%;
    background-color: powderblue;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}
.links a:hover::after{
    width: 100%;
}
.personPic  a {
   text-decoration: none;
   font-size: 30px;
   color: white;
}
.personPic a:hover{
    color: crimson;
}

.contentData{
    width: 40%;
    color: white;
}
.data2{
    width: 60%;
}
.contentData{
    padding: 60px;
    margin-top: 80px;
    line-height: 55px;
}

.contentData p{
    color:gainsboro;
    font-size: 23px;
}
.contentData h1{
    font-size: 40px;
}



